{{#each menu}}
    <a href='{{this.href}}' class='menu-item' data-section='{{@key}}'>
        <img src='/static/img/{{this.icon}}.svg' class='menu-icon' alt='{{this.text}}' />
        {{this.text}}
    </a>
{{/each}}